<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashwin.android.diygeofencejava">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <receiver android:name="com.ashwin.android.diygeofencejava.LocationUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ashwin.android.diygeofencejava.LOCATION_UPDATES" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
